@font-face {
font-family: "Domestic Manners";
src: url("Domestic Manners.eot") format("eot"); /* IE9 Compat Modes */
src: url("Domestic Manners.eot?") format("embedded-opentype"), /* IE6-IE8 */
     url("Domestic Manners.woff") format("woff"), /* Modern Browsers */
     url("Domestic Manners._ttf") format("truetype"); /* Safari, Android, iOS */
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "Syncopate";
src: url("Syncopate.eot") format("eot"); /* IE9 Compat Modes */
src: url("Syncopate.eot?") format("embedded-opentype"), /* IE6-IE8 */
     url("Syncopate.woff") format("woff"), /* Modern Browsers */
     url("Syncopate._ttf") format("truetype"); /* Safari, Android, iOS */
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "Ubuntu";
src: url("Ubuntu.eot") format("eot"); /* IE9 Compat Modes */
src: url("Ubuntu.eot?") format("embedded-opentype"), /* IE6-IE8 */
     url("Ubuntu.woff") format("woff"), /* Modern Browsers */
     url("Ubuntu._ttf") format("truetype"); /* Safari, Android, iOS */
font-weight: normal;
font-style: normal;
}
